<script src="/js/bootstrap.bundle.js"></script>
<link rel="stylesheet" type="text/css" href="/css/footer.css">

<footer class="footer fixed-bottom">
    <div>
        
            <span class="text-muted">
                <p><b>Features available only if logged in</b>
                <br><u>Try out an account!</u>
                <br>MarkFromSales@outlook.com
                <br>password: 123
            </span>
        </p>
    </div>
</footer>
</html>