<%- include('includes/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/tasksView.css">

<body>
    <%- include('includes/navbar.ejs') %> 
    <div class="jumbotron">
        <h1 style="text-align: center">Page not found</h1>
    </div>


</body>

<%- include('includes/foot.ejs') %>