table {
    width: 99%;
    margin-left: 10px;
}

.table-header {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

#grey-buttons input, #grey-buttons a {
    background-color: rgb(214, 209, 209);
    border-color: rgb(214, 209, 209);
    color: white;
}
